html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
}

textarea {
    width: 100%;
    max-height: 200px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    overflow-y: auto; /* 스크롤 추가 */
    resize: none; /* 크기 조절 불가 */
}

.wrapper {
    min-height: calc(100vh - 100px); /* footer의 높이를 뺀 값으로 설정 */
    padding-bottom: 20px; /* footer와의 간격을 위한 padding */
}

.board-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid rgb(76, 175, 80);
    border-radius: 12px;
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-section img {
    width: 100%;
    border-radius: 12px;
}

#board-profile {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-top: 20px;
}

#board-nickname {
    font-size: 24px;
    font-weight: bold;
}

#board-address {
    font-size: 16px;
}

#board-content-section {
    width: 100%;
    padding: 20px;
    background-color: #f9fff9;
    border-radius: 8px;
    margin-bottom: 20px;
}

#board-title {
    font-size: 24px;
    font-weight: bold;
    color: #4caf50;
}

#board-created-time {
    font-size: 16px;
    color: #666;
}

#board-price {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.board-comment-container {
    width: 100%;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
}

h4 {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
}

.comment {
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f0f8f0;
    border: 1px solid #e0e0e0;
}

.comment-profile a {
    color: #007bff;
    font-weight: bold;
}

.comment-profile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.created-time {
    font-size: 12px;
    color: #888;
}

.comment-form {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.comment-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.comment-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
}

.comment-form p {
    text-align: right;
    color: #555555;
    margin-top: -5px;
}

#charCount {
    margin-left: 10px;
    color: #555555;
    font-size: 12px;
}

.btn-primary {
    padding: 10px;
    margin-top: 40px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    top: 10px;
}

.edit-btn,
.delete-btn {
    font-size: 12px;
    background: transparent;
    border: none;
    color: #2C8A7E;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
}

.edit-btn:hover,
.delete-btn:hover {
    color: #1A5C5E;
}
