@font-face {
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HakgyoansimDunggeunmisoTTF-R';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-R.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f0f9f0;
}

.navbar {
    background-color: #ffffff;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 10px 20px; /* 패딩 설정 */
}

.navbar-logo {
    font-size: 32px;
    color: #006400;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 50px;
    font-family: 'HakgyoansimDunggeunmisoTTF-B', sans-serif;
}

.navbar-logo img.logo-image {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.navbar-logo:hover {
    color: #32cd32;
}

.navbar-link {
    font-size: 24px;
    color: #006400;
    text-decoration: none;
    margin-right: 20px;
}

.navbar-link:hover {
    color: #32cd32;
}

.navbar-search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 10px;
}

#searchInput {
    padding: 8px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-right: 10px;
}

.navbar-user {
    display: flex;
    align-items: center;
}

.navbar-nickname {
    font-size: 16px;
    color: #006400;
    margin-right: 15px;
}

.navbar-link.login-button {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    background-color: #32cd32;
    border-radius: 5px;
    cursor: pointer;
}

.navbar-link.login-button:hover {
    background-color: #228b22;
}


/* 글 작성 버튼 스타일 */
.icon-button {
    background-color: transparent; /* 배경 제거 */
    margin-left: 50px;
    border: none;
    cursor: pointer;
    padding: 5px; /* 여백 */
}

.icon-button .icon {
    width: 24px; /* 아이콘 크기 */
    height: 24px;
}

.icon-button:hover {
    opacity: 0.7; /* 호버 시 아이콘 투명도 조정 */
}